h1 {
    color:black;
    font-size: 550%;
}    
h2 {
color:white;
font-family: coming soon;
}
.header{
    border-radius: 10px;
    position: relative;
    background-color:aqua;
    border:solid;
    padding: 100px;
    font-size:5px;
    font-style:italic;
    font-family: Goudy Stout;
    text-align: center;   
}

a:visited{
    color:pink;
}
.design{
    background-color:#252A34;
    font-size: 100%;
    font-family: fantasy;
    text-decoration:darksalmon
}

 body{
     background-color: #eaeaea;
 }  
 .code{
     background-color: red;
     font-style: oblique;
 }
 .me{
     background-color: chartreuse;
     font-size: 150%;
     font-style: inherit;
 }.image{
     position: relative;
 }
 .image p{
    position: absolute;
    top: 50%;
    
    transform: translate(20%,-50%);
    opacity:0;
 }
 .menu{
     position:relative;
 }
.hinata{
    border-radius: 100px;
    margin-left:-55%;
    margin-top:-12%;
    transform: rotate(-25deg);
    position:absolute;
}
.anime1{
    border-radius: 20px;
    background-color: #ffffff;
    margin: 15px;
    width: 410px;
}   
.logo{
    border-radius: 100px;
    margin-left:25%;
    margin-top:-15%;
    transform: rotate(25deg);
    height: 250px;
    position:absolute; 
}
    .favourite{
    color: black;
    background-color: #ff2e63;
    font-size: 150%;
    font-family: coming soon;

}